PullToScxtpt/Web References/Scxtpt/YinHaiBusiness.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.common.yinhai.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="YinHaiBusiness" targetNamespace="http://webservice.common.yinhai.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.common.yinhai.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="callBusiness" type="tns:callBusiness" />
      <xs:element name="callBusinessGzip" type="tns:callBusinessGzip" />
      <xs:element name="callBusinessGzipResponse" type="tns:callBusinessGzipResponse" />
      <xs:element name="callBusinessResponse" type="tns:callBusinessResponse" />
      <xs:element name="cancelBusiness" type="tns:cancelBusiness" />
      <xs:element name="cancelBusinessResponse" type="tns:cancelBusinessResponse" />
      <xs:element name="confirmBusiness" type="tns:confirmBusiness" />
      <xs:element name="confirmBusinessResponse" type="tns:confirmBusinessResponse" />
      <xs:element name="getJylsh" type="tns:getJylsh" />
      <xs:element name="getJylshResponse" type="tns:getJylshResponse" />
      <xs:complexType name="callBusinessGzip">
        <xs:sequence>
          <xs:element minOccurs="0" name="inputByte" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="callBusinessGzipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getJylsh">
        <xs:sequence>
          <xs:element minOccurs="0" name="inputxml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getJylshResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="callBusiness">
        <xs:sequence>
          <xs:element minOccurs="0" name="inputxml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="callBusinessResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelBusiness">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="cancelBusinessResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="confirmBusiness">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="confirmBusinessResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnsupportedEncodingException" type="tns:UnsupportedEncodingException" />
      <xs:complexType name="UnsupportedEncodingException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="callBusinessGzip">
    <wsdl:part name="parameters" element="tns:callBusinessGzip" />
  </wsdl:message>
  <wsdl:message name="callBusinessGzipResponse">
    <wsdl:part name="parameters" element="tns:callBusinessGzipResponse" />
  </wsdl:message>
  <wsdl:message name="UnsupportedEncodingException">
    <wsdl:part name="UnsupportedEncodingException" element="tns:UnsupportedEncodingException" />
  </wsdl:message>
  <wsdl:message name="getJylsh">
    <wsdl:part name="parameters" element="tns:getJylsh" />
  </wsdl:message>
  <wsdl:message name="getJylshResponse">
    <wsdl:part name="parameters" element="tns:getJylshResponse" />
  </wsdl:message>
  <wsdl:message name="callBusiness">
    <wsdl:part name="parameters" element="tns:callBusiness" />
  </wsdl:message>
  <wsdl:message name="callBusinessResponse">
    <wsdl:part name="parameters" element="tns:callBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="cancelBusiness">
    <wsdl:part name="parameters" element="tns:cancelBusiness" />
  </wsdl:message>
  <wsdl:message name="cancelBusinessResponse">
    <wsdl:part name="parameters" element="tns:cancelBusinessResponse" />
  </wsdl:message>
  <wsdl:message name="confirmBusiness">
    <wsdl:part name="parameters" element="tns:confirmBusiness" />
  </wsdl:message>
  <wsdl:message name="confirmBusinessResponse">
    <wsdl:part name="parameters" element="tns:confirmBusinessResponse" />
  </wsdl:message>
  <wsdl:portType name="YinHaiBusiness">
    <wsdl:operation name="callBusinessGzip">
      <wsdl:input name="callBusinessGzip" message="tns:callBusinessGzip" />
      <wsdl:output name="callBusinessGzipResponse" message="tns:callBusinessGzipResponse" />
      <wsdl:fault name="UnsupportedEncodingException" message="tns:UnsupportedEncodingException" />
    </wsdl:operation>
    <wsdl:operation name="getJylsh">
      <wsdl:input name="getJylsh" message="tns:getJylsh" />
      <wsdl:output name="getJylshResponse" message="tns:getJylshResponse" />
    </wsdl:operation>
    <wsdl:operation name="callBusiness">
      <wsdl:input name="callBusiness" message="tns:callBusiness" />
      <wsdl:output name="callBusinessResponse" message="tns:callBusinessResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelBusiness">
      <wsdl:input name="cancelBusiness" message="tns:cancelBusiness" />
      <wsdl:output name="cancelBusinessResponse" message="tns:cancelBusinessResponse" />
    </wsdl:operation>
    <wsdl:operation name="confirmBusiness">
      <wsdl:input name="confirmBusiness" message="tns:confirmBusiness" />
      <wsdl:output name="confirmBusinessResponse" message="tns:confirmBusinessResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YinHaiBusinessSoapBinding" type="tns:YinHaiBusiness">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="callBusinessGzip">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="callBusinessGzip">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="callBusinessGzipResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnsupportedEncodingException">
        <soap:fault use="literal" name="UnsupportedEncodingException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getJylsh">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getJylsh">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getJylshResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callBusiness">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="callBusiness">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="callBusinessResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelBusiness">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelBusiness">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelBusinessResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmBusiness">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="confirmBusiness">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="confirmBusinessResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YinHaiBusiness">
    <wsdl:port name="YinHaiBusinessImplPort" binding="tns:YinHaiBusinessSoapBinding">
      <soap:address location="http://119.6.84.89:8225/xtpt/services/yinHaiBusiness" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>